<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key] -->
    <!-- GitHub/GitLab user name or GitLab group name-->
    <add key="name1" value="Jambalaya751955"/>
    <add key="name2" value="shadowfox87"/>
    <add key="name3" value="shadowfox87"/>
    <add key="name4" value="shadowfox87"/>
    <!-- GitHub repository name -->
    <add key="repo1" value="DuelistsUniteScripts" />
    <add key="repo2" value="ygopro2" />
    <add key="repo3" value="YGOSeries10CardPics" />
    <add key="repo4" value="YGOCloseupsPng300x300" />
    <!-- GitLab project ID -->
    <add key="ID1" value=""/>
    <add key="ID2" value=""/>
    <add key="ID3" value=""/>
    <add key="ID4" value=""/>
    <!-- file save path -->
    <add key="path" value="..\" />
    <!-- if file exitis then no download -->
    <add key="ignore1" value="YGOPro2_Updater/YGOPro2_Updater.exe" />
    <!-- ServicePointManager.DefaultConnectionLimit -->
    <add key="ConnectionLimit" value="32" />
  </appSettings>
</configuration>